button#myButton {
    width: 30%;
    height: 300px;
    /*align-self: center;
    align-content: center; */

    position: fixed; 
    bottom: 10px; 
    left: 30%; 
    transform: translateX(-90%); 
    font-size: 40px;
   background-color: bisque;

}

.greeting{ 
    color: greenyellow;
    font-size: 90px ;

   text-indent: 550px;

}

button#startButton{
    width: 30% ; 
    height: 250px; 

    position: fixed; 
    bottom: 75px; 
    left: 65%; 
    transform: translateX(-20%); 
    border-radius: 15px;
    background-color: bisque;
    

}