button#myButton {
    width: 50%;
    height: 100px;
    align-self: center;
    align-content: center;
}

.greeting{ 
    color: greenyellow;
    font-size: 160px ;

    text-align: center;

    
  


}